# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml

# Node
node_modules/
dist/
cache/

# Rust
target/
Cargo.lock

# JVM
asmtools.jar
*.txt
*.log

# Binary
*.exe
*.dll
*.exp
*.pdb
*.dylib
*.a
*.o